@font-face{font-family:Comfortaa;font-style:normal;font-weight:400;src:local('Comfortaa Regular'),local('Comfortaa-Regular'),url(https://cdn02.plentymarkets.com/zyf018ezd17w/frontend/ceres/font/Comfortaa.ttf) format('truetype')}
#page-header .container-max {max-width: 1340px}
@media(min-width:992px) {
.wrapper-main {margin-top: 157px;}
}
.wrapper-main #page-header.top-bar {background-color: #fff; box-shadow: 0px 1px 4px #888;}
.page-home .wrapper-main .widget.widget-image-box.widget-primary .widget-caption {text-align: center; font-size: 1.2rem; text-transform: uppercase;}
.wrapper-main .navbar {background-color: #0360A5}
.claim {display: none; font-size: 0.8rem;text-transform: uppercase;margin: 0.5rem;text-align: center; color: #0360A5; position: absolute; top:60px; left: 50px;}
.top-bar .controls-list .control-basket .toggle-basket-preview {background-color:#EE7624}
.top-bar .controls-list > li a:not(.btn) {color: #888}
.top-bar .controls-list > li a:not(.btn):hover {background: #024373}
.top-bar .list-inline .list-inline-item #login-change a span {padding-left: 0.3rem}
/* .navbar-brand {padding: 1rem 0 1.5rem 0; margin-right: 5rem;} */
.navbar-brand {padding: 0; margin-right: 5rem;}
/* .navbar-brand img {max-height: 5rem} */
.navbar-brand img {max-height: 8rem}
.top-bar .search-shown .always-visible-search .search-box-shadow-frame .search-submit {color: #fff; background-color: #EE7624; opacity: 1;}
.top-bar .search-shown .always-visible-search .search-box-shadow-frame .search-submit:hover {opacity: 0.9}
.fl-autocomplete.ui-autocomplete {width: 800px !important}
.fl-autocomplete.fl-has-two-columns h3 {margin:0; background-color: #0360A5; color: #fff}
.siegel {margin: 0 5rem;}
.center {text-align:center}
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu {float: none !important; justify-content: center; -webkit-box-pack:center; -ms-flex-pack:center; text-transform: uppercase;color: #fff; font-weight: 700; font-size: 0.9rem;}
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li {}
#mainNavbarCollapsable ul.mainmenu > li.ddown > a::after {display: none;}
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li:last-child {border-right: none}
.no-touch #mainNavbarCollapsable ul.mainmenu > li:hover, .touch #mainNavbarCollapsable ul.mainmenu > li.hover {background-color: #024373;}
#mainNavbarCollapsable ul.mainmenu > li > a {padding: 1.0em 0.5rem;}
@media(min-width:1300px) {
#mainNavbarCollapsable ul.mainmenu > li > a {padding: 1.0em 0.7rem;}
}
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse {box-shadow: 0px 1px 4px #888;}
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li ul.nav-dropdown-inner > li {line-height: 190%;}
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li ul.nav-dropdown-inner > li > a {text-transform: none; }
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li ul.nav-dropdown-inner > li.level2 > a {font-weight: normal; color: #444;}
nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li ul.nav-dropdown-inner > li.level2 > a::before {font: normal normal normal 14px/1 FontAwesome; content: "\f0da"; color: #0360A5; padding-right: 5px; padding-left: 3px;}
.footer .footer-content {max-width: 1340px}
.footer {background-color: #011f44; color: #fff}
.footer a {color: #fff}
.footer a:hover, .footer a:focus {text-decoration: underline}
.footer .image-list {list-style: none; background: #fff; display: flex; flex-flow: wrap; align-items:center;padding:0;border-radius:6px}
.footer .image-list li {flex:content;text-align:center;padding:0.5rem}
.footer .socials li i {font-size: 2rem; width: 30px}
.footer .socials span {padding-left: 0.5rem}
.footer li {padding: 0.3rem 0}
.footer .zahlung li, .footer .versand li {background: #fff;padding: 0; text-align: center; margin:0.5rem 0; border-radius: 3px; height: 48px; line-height: 48px}
.footer .marken li {font-size: 0.9rem; padding: 0.1rem 0}
#page-body .page-content {background: #fff; margin-top: 30px; margin-bottom: 30px; padding: 30px}
.textblock {border: 1px solid #eee; background: #fff; padding: 30px;font-family:Comfortaa,cursive; }
.textblock h1, .textblock h2 {color: #011f44; padding: 0 0 1rem 0}
.textblock h1 {font-size: 1.3rem}
.textblock h2 {font-size: 1.2rem}
.textblock h3 {color: #0360A5; font-size: 1.1rem;}
.textblock.start {margin-top: 1rem}
.textblock.start .h2, .textblock.start .h3 {color: #EE7624; padding-bottom: 1rem}
.textblock .widget-inner {padding: 0.3rem}
.list-item-carousel .cmp-product-thumb .thumb-image {width: 80%}
.sidebar-categories {border: 1px solid #fff; box-shadow: 0px 0px 3px 1px #ccc; background: #fff;font-family:Comfortaa,cursive; }
.sidebar-categories .category-title {background: #0360A5; color: #fff;}
.sidebar-categories ul li.active > a {background: #EE7624; color: #fff;}
.sidebar-categories ul li ul {background: #f4f4f4;}
.sidebar-categories ul li a:hover {background: #a4a4a4; color: #fff;}
@media(min-width:576px) {
.cmp-product-thumb {border: 1px solid #F7F7F9;}
}
.category-description {font-family:Comfortaa,cursive; border: 1px solid #F7F7F9; padding: 1.5rem;}
.category-description h1 {font-size: 1.3rem;color: #011f44;}
.category-description h2 {font-size: 1.2rem;color: #0360A5;}
.category-title {font-family:Comfortaa,cursive; color:#0360A5;}
.landing-headline {font-family:Comfortaa,cursive; margin-top: 2rem; margin-bottom: 2rem; padding: 1rem 0; text-align:center;}
/* .landing-cat {font-family:Comfortaa,cursive; padding: 1rem; text-align: center; display: flex; height: 3.5rem; align-items: center; display: -webkit-flex; -webkit-align-items: center; display: -moz-box; -moz-box-align: center;} */
.landing-cat {font-family:Comfortaa,cursive; padding: 0.1rem; text-align: center; display: table-cell; height: 3.5rem; vertical-align: middle; width: 50%}
.landing-cat2 {font-family:Comfortaa,cursive; display: block; padding: 2rem; width: 100%; background: #EE7624; color: #fff; text-align: center; font-size: 2rem}
#filterCollapse .card {border: 1px solid #efefef; padding: 0.8rem; padding-right: 2rem; max-height: 200px; overflow: hidden; overflow-y: scroll  }
#filterCollapse .card  h3 {font-size: 1.3rem}
.list-controls #filterCollapse {z-index: 990 !important}
.list-controls #filterCollapse .page-content {border-color:#efefef !important }
.cmp-product-thumb .add-to-basket-lg-container {display: none !important;}
.cmp-product-thumb .special-tags {display: none !important;}
.green {color: #639700}
.page-singleitem .articlenumber {display: none;}
.single .availability {padding: 5px 10px; margin-top: 1rem}
.tab-content {background: #fff; border: 1px solid #ddd; border-top: 0; padding: 1rem}
.single .nav-tabs .nav-item .nav-link {border: 1px solid #ddd; background: #eee; color: #444}
.single-rightside > div:last-child {background: #fff; padding: 1rem; border: 1px solid #ddd}
.single #single-carousel, .owl-thumbs .owl-thumb {border: 1px solid #ddd}
.single-rightside .variation-select select option:disabled {background: #efefef}
/* Überprüfen */
.ib span {display: table-cell}
.bp {list-style: none; padding: 0}
.bp i {padding-right: 5px; color: #898127}
.input-unit[data-model=vatNumber] {display: none;}
.basket-item .availability span {color: green}
#ppButton {text-align: right; padding: 20px 0px 5px 0}
.modal #ppButton {text-align: right; padding: 0px 13px 10px 0}
.amzPayButton {text-align: right}
.wrapper #add-item-to-basket-overlay .amzPayButton {margin: 5px 13px 15px 0}
.checkout .amzPayButton {text-align: left}
.amzPayButton img {max-width: 169px !important}
#add-item-to-basket-overlay .amzPayButton img {height: auto !important}
.widget-provider-select .cmp-method-list {margin-bottom: 1rem !important}
.widget-provider-select .amzPayButton {border: 1px solid #ddd; padding: 1.3rem 0.5rem; margin-bottom: 1.5rem !important}
.basket-small .bulletpoints {list-style: disc}
.shipping-method-select, .shipping-method-header {display: none}
/* ----- */
.single .single-carousel, .page-singleitem .single-carousel {border: 1px solid #ddd}
.widget-item-list-caption > a {display: none;}
